<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Navbar.html">
<head>
  <meta charset="UTF-8">
  <title>Doctors</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div layout:fragment="content">
  <h1>Welcome Home</h1>
</div>

<script src="/webjars/bootstrap/5.3.1/js/bootstrap.bundle.js"></script>
</body>
</html>
